.lighting_hero {
  background-color: rgba(51, 51, 51, 0.9);
  background-image: url("../assets/church3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: #000;
}

.lighting_top {
  display: flex;
  padding: 30px;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

.lighting_top img {
  width: 300px;
  height: 300px;
  padding: 0 10px;
  border-radius: 10%;
}

.lighting_bottom {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.lighting_container h2,
.lighting_container p,
.lighting_container li {
  color: #fff;
}

.lighting_bottom p {
  line-height: 1.3;
  font-size: 20px;
}

.lighting_bottom img {
  height: 55vh;
  width: 40vw;
  padding: 20px;
  border-radius: 20%;
}

.lighting_content {
  padding: 10px 0;
}

.lighting_container {
  width: 500px;
}

.lighting_container ul {
  list-style: none;
}

.lighting_container .events {
  display: flex;
  /* justify-content: center; */
}

.lighting_container li {
  padding: 5px 20px;
  font-size: 18px;
}

.lighting_container .icon {
  color: #000;
  background-color: #fff;
  margin-right: 5px;
}

@media(max-width: 1000px) {
  .lighting_top {
    flex-direction: column;
  }

  .lighting_top img {
    width: 400px;
    height: 300px;
    margin: auto;
  }

  .lighting_bottom {
    flex-direction: column;
  }

  .lighting_bottom .lighting_container {
    margin: auto;
  }

  .lighting_bottom .holiday {
    width: inherit;
    margin: auto;
  }
}

@media(max-width: 600px) {
  .lighting_bottom {
    width: 500px;
    margin: auto;
  }

  .lighting_bottom .holiday {
    width: 400px;
  }

  .lighting_bottom img {
    width: 100%;
  }
}