.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  position: sticky;
  top: 0;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  text-decoration: underline;
  background-color: #172554;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #f00;
  border-radius: 0.2rem;
}

@media(max-width: 768px) {
  nav .menu {
    display: flex;
    margin-bottom: 16px;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    background-color: #000;
    flex-direction: column;
    width: 25%;
    margin-bottom: 0.25rem;
    position: fixed;

  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 75%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}