.painting_hero {
  background-color: rgba(51, 51, 51, 0.9);
  background-image: url("../assets/paint-color.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: #000;
}

.painting_top {
  display: flex;
  padding: 30px;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

.painting_top img {
  width: 300px;
  height: 300px;
  padding: 0 10px;
  border-radius: 10%;
}

.painting_bottom {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.painting_container h2,
.painting_container p,
.painting_container li {
  color: #fff;
}

.painting_bottom p {
  line-height: 1.3;
  font-size: 20px;
}

.painting_bottom img {
  height: 55vh;
  width: 40vw;
  padding: 20px;
  border-radius: 20%;
}

.painting_content {
  padding: 10px 0;
}

.painting_container {
  width: 500px;
}

.painting_container ul {
  list-style: none;
}

.painting_container .events {
  display: flex;
  /* justify-content: center; */
}

.painting_container li {
  padding: 5px 20px;
  font-size: 18px;
}

.painting_container .icon {
  color: #000;
  background-color: #fff;
  margin-right: 5px;
}

@media(max-width: 950px) {
  .painting_top {
    flex-direction: column;
  }

  .painting_top img {
    width: 400px;
    height: 300px;
    margin: auto;
  }
}

@media(max-width: 600px) {
  .painting_bottom {
    /* width: 300px; */
    margin: auto;
  }

  .painting_container {
    width: 400px;
  }
}